.App {
  /* text-align: center; */
  font-weight: bold;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* --------------------------------------------------------------------------- */

.upper {
  display: flex;
  justify-content: left;
  padding: 30px 0 0 0;
  /* width: auto; */
  justify-content: space-evenly;
}

.setupMember {
  /* display: flex; */
  border: red 2px solid;
  /* display: flex;
    flex-direction: column; */
  /* width: 300px; */
  display: flex;
  flex-direction: column;
  /* text-align: center; */
  /* align-items: center; */
  justify-content: space-evenly;
}

.member {
  border: #333 2px solid;
  border-radius: 4px;
  margin: 0px 10px;
  padding: 10px 20px;
  font-size: 20px;
  width: 80px;
  height: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.setupTime {
  font-size: 13px;
  border: red 2px solid;
  padding: 0;
  width: 200px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.start,
.finish {
  /* border: #333 2px solid; */
  border-radius: 4px;
  padding: 0px;
  margin: 0;
  width: 190px;
  height: 45px;

  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.startList,
.finishList {
  height: 40px;
  width: 80px;
  font-size: 15px;
  font-weight: bold;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.duplicateTimeSelect {
  font-size: 13px;
  margin-top: 10px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

/* ------------------------------------------ */

.lower {
  margin: 30px 0 0 0;
  /* display: flex; */
  /* justify-content: space-evenly; */
}
.suggestTime {
  border: red 2px solid;
  height: auto;
  width: 330px;
  font-size: 15px;
  padding: 10px;
  margin: 0 auto;
}

.candidate {
  border: #333, 0.5px solid;
  padding: 4px 8px;
  margin-bottom: 20px;
}

.selectCandidate {
  display: flex;
  margin-top: 4px;
  line-height: 23px;
}

.radioSelectCandidate {
  margin-right: 20px;
}

.suggestTimeButton {
  font-size: 15px;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 8px;
  border: none;
  background-color: #eee;
  width: 300px;
  display: block;
  margin: 0 auto;
}

.outputResult {
  border: red 2px solid;
  height: 200px;
  width: 330px;
  font-size: 15px;
  padding: 0px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 30px auto;
}

.eachResult {
  border: #333, 0.5px solid;
  padding: 4px 8px;
}
